.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1{
    /* color: #171717; */
    color: #f47037;
    font-size: 50px;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    /* background: #252525; */
    background: #f47037;
}

.popular-item{
    margin-top: 50px;
    display: flex;
}